<script>
    let url = new URL(window.location.href);
    let searchParams = new URLSearchParams(url.search);
    const pose_id = searchParams.get('pose');

    if (pose_id == null) {
        Route.goto("/exercises");
    }

    fetch(SETTING.Server + "/pose/" + pose_id + "/info").then(res => {
        return res.json();
    }).then(info => {
        pose_info = info.data;

        document.querySelector("#pose_name").innerHTML = pose_info.name;
        document.querySelector("#pose_desc").innerHTML = pose_info.description;

        const video_element = document.createElement("source");
        video_element.type = "video/mp4"
        video_element.src = "https://skaai.mocuse.com/asset/database/tutorial_video/" + pose_id + ".mp4";

        document.querySelector("#pose_video").appendChild(video_element)
    })
</script>